body {
    margin: 0px;
}

.full-page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

main {
    background-color: bisque;
    width: 70%;
}

h3 {
    position: relative;
    margin: 0;
    /* color: rgb(151, 8, 8); */
    left: 2.5%;
}

p {
    position: relative;
    margin: 2.5%;
    /* left: 2.5%; */
}

/* Form */

.form-container {
    width: 100%;
    margin: 2.5%;
}

textarea {
    width: 95%;
    resize: none;
    font-size: 3vh;
}

/* Reference */

.sidebar {
    background-color: burlywood;
    width: 30%;
}